.person {
    text-align: center;
    color: var(--text-dark-color);
}

.person-pic {
    width: 35%;
}

.person-name {
    font-size: 24px;
    margin: 1rem 0;
}

.person-bio {
    padding: 0 6rem;
}

@media screen and (max-width: 940px) {
    .person-bio {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 768px) {
    .person {
        margin-bottom: 3rem;
    }
}